/* hangomat.css */
.div4whole-hangomat{
 width: 100%;
 text-align: center;
}
.div4whole-hangomat h5
{
 margin-top: 24px;
}
.div4whole-hangomat h4
{
 margin-top: 24px;
}
.div4whole-hangomat .alerter{
 font-size:1.2em;
 font-weight:bold;
}
.div4whole-hangomat .p4letter{display:inline-block;}
.div4whole-hangomat .p4letter input,
.div4whole-hangomat .p4letter span{
 display:block;
 line-height: 24px;
 font-size: 16px;
 width: 28px;
 padding:0;
 margin:0;
 border: 2px solid gray;
	font-weight:bold;
	/*font-family: Monaco, Menlo, Consolas, "Courier New", monospace;*/
}
.div4whole-hangomat .p4letter span{
 border-color: red;
 color: white;
 background-color: red;
}
.div4whole-hangomat .p4letter input{
 /* border-color: green;
 background-color: green; */
 border-color: #0088CC;
 background-color: #0088CC;
 color: white;
}
.div4whole-hangomat .div4stimmen-heute p{
 display:inline-block;
 line-height: 24px;
 font-size: 16px;
 min-width: 28px;
 padding:0;
 margin:0;
 border: 2px solid gray;
}
.div4whole-hangomat .div4stimmen-heute span{
 display: block;
 text-align: center;
}
.div4whole-hangomat span.span4letter{
 font-weight: bold;
 background-color: gray;
 color:white;
}
.div4whole-hangomat .siegerName{
 font-weight: bold;
 font-size: 1.2em;
 /*color: green; */
 color: #0088CC;
}
.div4whole-hangomat .siegerWort{
 /*color: green; */
 color: #0088CC;
}
.div4whole-hangomat .div4letzte-loeser li{
 text-align:center;
}
.div4whole-hangomat .aktuellesWort{
 font-weight: bold;
 /*font-size: 1.2em;
 line-height: 2em;*/
 font-size: 1.8em;
 line-height: 3.0em;
}
.div4whole-hangomat .list-striped{
	list-style: none;
	line-height: 18px;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #ddd;
	margin-left: 0;
	padding-left: 0;
}
.div4whole-hangomat .list-striped li:nth-child(2n+1){
	background-color: #f9f9f9;
}
.div4whole-hangomat .list-striped li{
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	padding: 8px;
}
.div4whole-hangomat input[type="submit"],
.div4whole-hangomat input[type="button"]{
	cursor: pointer;
}
